body{
    font-family: "Noto Sans", sans-serif;
    background: #ffffff;
    color: black;
    font-weight: 400px;
}
.container {
    background-color: bisque;
    max-width: 600px;
    margin:  auto;
    padding: 15px 15px;
    height: 100%;
    text-align: center;
    position: relative
}
/* =========================================================================== */
.small-image{
    max-width: 100%;
    border-radius: 5px;
}

.title__phone{
    font-family: "Great Vibes", cursive;
    position: absolute; /* Текст позиционируется абсолютно внутри контейнера */
    top: 12%; /* Размещаем по центру вертикали */
    left: 50%; /* Размещаем по центру горизонтали */
    transform: translate(-50%, -50%); /* Точное центрирование */
    color: rgb(128, 83, 0); /* Цвет текста */
    font-size: 55px; /* Размер шрифта */
    text-align: center; /* Выравнивание по центру */
    padding: 10px 10px; /* Отступы вокруг текста */
    border-radius: 5px; /* Скругление углов */

}

.title{
    font-family: "Montserrat", cursive;
    font-size: 40px;
}
.title__iner{
    font-family: "Montserrat", cursive;
    font-size: 20px;
}
.venue{
    font-size: 40px;
    margin-bottom: 30px;
}
.venue__title{
    font-size: 20px
}
